<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoiY29uZmV0dGlzd2lmdHVpIiwibG9jYXRpb24iOnsicmVtb3RlIjpbeyJ1
		cmxTdHJpbmciOiJodHRwczpcL1wvZ2l0aHViLmNvbVwvc2ltaWJhY1wvQ29u
		ZmV0dGlTd2lmdFVJLmdpdCJ9XX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJl
		cXVpcmVtZW50Ijp7InJhbmdlIjpbeyJsb3dlckJvdW5kIjoiMS4xLjAiLCJ1
		cHBlckJvdW5kIjoiMi4wLjAifV19fV19LHsic291cmNlQ29udHJvbCI6W3si
		aWRlbnRpdHkiOiJzd2lmdGNzdiIsImxvY2F0aW9uIjp7InJlbW90ZSI6W3si
		dXJsU3RyaW5nIjoiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL3N3aWZ0Y3N2XC9T
		d2lmdENTVi5naXQifV19LCJwcm9kdWN0RmlsdGVyIjpudWxsLCJyZXF1aXJl
		bWVudCI6eyJyYW5nZSI6W3sibG93ZXJCb3VuZCI6IjAuOS4xIiwidXBwZXJC
		b3VuZCI6IjEuMC4wIn1dfX1dfV0sImRpc3BsYXlOYW1lIjoiR3JvdXBlciAy
		IiwicGFja2FnZUtpbmQiOnsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9w
		dGlvbnMiOltdLCJwbGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTYu
		MCJ9XSwicHJvZHVjdHMiOlt7Im5hbWUiOiJHcm91cGVyIDIiLCJzZXR0aW5n
		cyI6W3siYnVuZGxlSWRlbnRpZmllciI6WyJTaGF3bndhbmcuR3JvdXBlci0y
		Il19LHsidGVhbUlkZW50aWZpZXIiOlsiNTg2TDJRMzhZTCJdfSx7ImRpc3Bs
		YXlWZXJzaW9uIjpbIjEuMCJdfSx7ImJ1bmRsZVZlcnNpb24iOlsiMSJdfSx7
		ImlPU0FwcEluZm8iOlt7ImFjY2VudENvbG9yIjp7InByZXNldENvbG9yIjp7
		InByZXNldENvbG9yIjp7InJhd1ZhbHVlIjoiY3lhbiJ9fX0sImFwcENhdGVn
		b3J5Ijp7InJhd1ZhbHVlIjoicHVibGljLmFwcC1jYXRlZ29yeS51dGlsaXRp
		ZXMifSwiYXBwSWNvbiI6eyJhc3NldCI6eyJuYW1lIjoiQXBwSWNvbiJ9fSwi
		Y2FwYWJpbGl0aWVzIjpbeyJmaWxlQWNjZXNzTG9jYXRpb24iOiJwaWN0dXJl
		Rm9sZGVyIiwiZmlsZUFjY2Vzc01vZGUiOiJyZWFkT25seSIsInB1cnBvc2Ui
		OiJmaWxlQWNjZXNzIn0seyJwdXJwb3NlIjoiY2FtZXJhIiwicHVycG9zZVN0
		cmluZyI6IlRoaXMgYXBwIHVzZXMgeW91ciBjYW1lcmEgdG8gZ3JvdXAgYnkg
		ZGV0ZWN0aW5nIGZhY2VzLiBBbGwgb3BlcmF0aW9ucyBhcmUgcGVyZm9ybWVk
		IG9mZmxpbmUgb24geW91ciBkZXZpY2UuIn0seyJwdXJwb3NlIjoicGhvdG9M
		aWJyYXJ5IiwicHVycG9zZVN0cmluZyI6IlRoaXMgYXBwIGFjY2Vzc2VzIHlv
		dXIgcGhvdG8gbGlicmFyeSB0byBhbGxvdyB5b3UgdG8gc2VsZWN0IGEgcGlj
		dHVyZSBhbmQgZ3JvdXAgdGhlIHBlb3BsZSBvbiB0aGUgcGljdHVyZS4gVGhp
		cyBhcHAgYWxzbyBzYXZlcyBmaW5pc2hlZCBncm91cCBhc3NpZ25tZW50cyBh
		cyBwaWN0dXJlcy4gQWxsIG9wZXJhdGlvbnMgYXJlIHBlcmZvcm1lZCBvZmZs
		aW5lIG9uIHlvdXIgZGV2aWNlLiJ9XSwic3VwcG9ydGVkRGV2aWNlRmFtaWxp
		ZXMiOlsicGFkIiwicGhvbmUiXSwic3VwcG9ydGVkSW50ZXJmYWNlT3JpZW50
		YXRpb25zIjpbeyJwb3J0cmFpdCI6e319LHsibGFuZHNjYXBlUmlnaHQiOnt9
		fSx7ImxhbmRzY2FwZUxlZnQiOnt9fSx7InBvcnRyYWl0VXBzaWRlRG93biI6
		eyJjb25kaXRpb24iOnsiZGV2aWNlRmFtaWxpZXMiOlsicGFkIl19fX1dfV19
		XSwidGFyZ2V0cyI6WyJBcHBNb2R1bGUiXSwidHlwZSI6eyJleGVjdXRhYmxl
		IjpudWxsfX1dLCJ0YXJnZXRNYXAiOnsiQXBwTW9kdWxlIjp7ImRlcGVuZGVu
		Y2llcyI6W3sicHJvZHVjdCI6WyJDb25mZXR0aVN3aWZ0VUkiLCJjb25mZXR0
		aXN3aWZ0dWkiLG51bGwsbnVsbF19LHsicHJvZHVjdCI6WyJTd2lmdENTViIs
		InN3aWZ0Y3N2IixudWxsLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoi
		QXBwTW9kdWxlIiwicGFja2FnZUFjY2VzcyI6ZmFsc2UsInBhdGgiOiIuIiwi
		cmVzb3VyY2VzIjpbeyJwYXRoIjoiUmVzb3VyY2VzIiwicnVsZSI6eyJwcm9j
		ZXNzIjp7fX19XSwic2V0dGluZ3MiOltdLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9
		fSwidGFyZ2V0cyI6W3siZGVwZW5kZW5jaWVzIjpbeyJwcm9kdWN0IjpbIkNv
		bmZldHRpU3dpZnRVSSIsImNvbmZldHRpc3dpZnR1aSIsbnVsbCxudWxsXX0s
		eyJwcm9kdWN0IjpbIlN3aWZ0Q1NWIiwic3dpZnRjc3YiLG51bGwsbnVsbF19
		XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJwYWNrYWdlQWNj
		ZXNzIjpmYWxzZSwicGF0aCI6Ii4iLCJyZXNvdXJjZXMiOlt7InBhdGgiOiJS
		ZXNvdXJjZXMiLCJydWxlIjp7InByb2Nlc3MiOnt9fX1dLCJzZXR0aW5ncyI6
		W10sInR5cGUiOiJleGVjdXRhYmxlIn1dLCJ0b29sc1ZlcnNpb24iOnsiX3Zl
		cnNpb24iOiI1LjguMCJ9fQ==
		</data>
		<key>manifestHash</key>
		<data>
		lVMk0xX+z0NfpFNlyD2XXOAv7D0SDq5WiFEqAxDWKJE=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.9.0</string>
	</dict>
</dict>
</plist>
